@charset "UTF-8";

/* Versão Mobile First (Celular primeiro) */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: rgb(194, 127, 227) url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(240, 248, 255, 0.82);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: rgb(63, 22, 82);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.879);
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}